<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css.datos.css')}}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <header class="bg-success">
        <h1>Información enviada</h1>
    </header>
    <div class="bloque">
        <table class="table table-borderless">
            <tbody>
                
                <tr>
                    <td>nombre:</td>
                    <td>{{dato.nombre}} </td>
                    
                </tr>
                <tr>
                    <td>dojo ubicación:</td>
                    <td>{{dato.ubicacion}}</td>
                </tr>
                <tr>
                    <td>lenguaje favorito:</td>
                    <td>{{dato.favorito}}</td>
                </tr>
                <tr>
                    <td>comentario:</td>
                    <td>{{dato.comentario}}</td>
                </tr>
                
            </tbody>
        </table>
        <a class="btn btn-success" href="/">HOME</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>